html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: white;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.75),
        rgba(0, 0, 0, 0.25)
    );
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#header h2 {
    margin-left: 10px;
}

#teamName {
    color: #F4C430;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

label {
    font-size: 16px;
}

select {
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 18px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background: white;
    color: black;
    max-width: 200px;
}

.filters {
    margin-right: 10px;
    border-radius: 8px;
    font-size: 16px;
}

.filters label {
    margin-left: 10px;
    font-size: 16px;
    white-space: nowrap;
}

.filters input {
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    background: white;
    color: black;
    max-width: 200px;
}

#go-button {
    margin-left: auto;
    background-color: #00a3e0;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
    min-width: 100px;
    max-height: 50px;
    margin-right: 20px;
}

#go-button:hover {
    background-color: #008dc3;
}

.leaflet-tooltip {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: white !important;
    text-align: center !important;
}

#widget {
    margin: 10px;
    padding: 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: white;
    color: black;
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
    #go-button {
        margin-top: 10px;
        margin-left: 0;
    }

    .filters label {
        margin-left: 0;
    }

    .filters input {
        margin-top: 10px;
    }
}